<h1>Listing privatejps</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @privatejps.each do |privatejp| %>
  <tr>
    <td><%= link_to 'Show', privatejp %></td>
    <td><%= link_to 'Edit', edit_privatejp_path(privatejp) %></td>
    <td><%= link_to 'Destroy', privatejp, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Privatejp', new_privatejp_path %>
