<div id="blogoutput">

<h1>Description</h1>
</br>
<table class="ex1" border="1">
 
<% @blog_posts.each do |blog_post| %>
  
    <%= blog_post.body %>
    <%= link_to 'Edit', edit_blog_post_path(blog_post) %>
    

<% end %>

</br>
</br>



</div>




<div id="blogimage">

  <p>

 <%= "hopes this works" %>
 
 </p>

</div>

