<h1>Company Description</h1></br>
<%=form_for :blog_post, :url => {:controller => "blog_posts", :action => "create"} do |f| %>
  <p>
  <div class="field">
   
    <%= f.text_area :body %>
  </div>
  <p>
    <%= f.submit "Add Post" %>
  </p>
<% end %>

<%= link_to 'Back', blog_posts_path %>
