ul#list-nav {
list-style:none;
margin:0px;
padding:0;
width: auto;
font-size:14px;


}

ul#list-nav li {
display:inline
border:0px 0px 0px 1px; border-collapse:collapse; 
}

ul#list-nav li a {
text-decoration:none;
padding:5px 0;
width:150px;
background:#CCCC99;
color:#000;
float:left;
text-align:center;
border-left:1px solid #fff;
}

ul#list-nav li a:hover {
background:#a2b3a1;
color:#000
}

