<%= simple_form_for(@privateobv) do |f| %>
  <% if @privateobv.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@privateobv.errors.count, "error") %> prohibited this privateobv from being saved:</h2>

      <ul>
      <% @privateobv.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="inputs">
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
