
<div id="mailbox_list" style="border:1px solid #aaa; float:left; margin: 2em; padding:2em; width:20%">
  <p><%= link_to "Compose", new_sent_path %></p>
  
  <p><strong>Mailboxes</strong></p>
  <ul>
    <li><%= link_to "Inbox", :mailInbox %></li>
    <li><%= link_to "Sent", :controller => "sent", :action => "index" %></li>
     <li><%= link_to "Trash", :controller => "mailbox", :action => "trash" %></li>
  </ul>
</div>
