<%= simple_form_for(@ccl) do |f| %>
  <% if @ccl.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ccl.errors.count, "error") %> prohibited this ccl from being saved:</h2>

      <ul>
      <% @ccl.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="inputs">
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
