<h1>Listing setas</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @setas.each do |seta| %>
  <tr>
    <td><%= link_to 'Show', seta %></td>
    <td><%= link_to 'Edit', edit_seta_path(seta) %></td>
    <td><%= link_to 'Destroy', seta, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Seta', new_seta_path %>
